@use "../variables/colors" as colors;
@import "../variables/breakpoints";

.wrapper {
	position: relative;
	overflow-x: clip;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.main {
	@include sc-breakpoint(1400) {
		margin-top: 150px;
	}

	&__wrapper {
		&__app {
			position: relative;
			margin-top: 100px;
			background-color: colors.$black;
			background-image: url("/src/assets/bg-pattern-2.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			@include sc-breakpoint(768) {
				height: 600px;
				background-position: 40% -30%;
				background-size: 300px;
			}

			@include sc-breakpoint(1400) {
				height: auto;
				background-position: 47% -98%;
				background-size: 40% 90%;
			}

			.app-image {
				width: 50%;
				transform: translate(50%, -20%);

				@include sc-breakpoint(768) {
					width: 32%;
					transform: translate(20%, -20%);
				}
			}
		}

		&__pricing {
			transform: translateY(-30px);
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding: 10% 12%;
			background-color: colors.$base-orange;
			border-radius: 12px;

			@include sc-breakpoint(768) {
				position: absolute;
				width: 300px;
				right: 0;
				transform: translate(-18%, -80%);
			}

			@include sc-breakpoint(1024) {
				transform: translate(-16%, -85%);
				padding: 6% 10%;
			}
			@include sc-breakpoint(1400) {
				width: 450px;
				height: 600px;
				transform: translate(-140px, -750px);
				padding: 10% 7%;
				justify-content: space-between;
			}

			@include sc-breakpoint(2560) {
				width: 24%;
				height: 32%;
				transform: translate(-266px, -1303px);
				padding: 10% 7%;
				justify-content: center;
				gap: 80px;
			}

			.buttons {
				display: flex;
				flex-direction: column;
				gap: 15px;
			}

			.button-default {
				width: 100%;
				height: 50px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 10px;

				@include sc-breakpoint(1400) {
					height: 80px;
				}
			}

			.main__text {
				margin: 0;
			}

			.pricing__title {
				padding: 10px 0;
			}
		}
	}
}

.background-pattern {
	display: none;

	@include sc-breakpoint(768) {
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		transform: translate(40px, -40px);
	}

	&__image {
		width: 260px;

		@include sc-breakpoint(1024) {
			width: 300px;
		}

		@include sc-breakpoint(1400) {
			width: 350px;
		}

		@include sc-breakpoint(2560) {
			width: 550px;
		}
	}
}
