@use 'variables/colors' as colors;

.button-default {
	border: none;
	border-radius: 12px;

	&__black {
		background-color: colors.$black;
		color: colors.$white;

		&:hover {
			background-color: colors.$aqua-blue;
		}
	}

	&__white {
		background-color: colors.$white;
		color: colors.$black;

		&:hover {
			background-color: colors.$base-yellow;
		}
	}
}
