@import "../variables/breakpoints";

.footer {
	padding: 0 5% 10% 5%;

	@include sc-breakpoint(768) {
		margin-top: 200px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: center;
	}

	&__left {
		padding-bottom: 4%;
	}

	&__text {
		padding-top: 20px 0;
	}
}

.footer__social {
	@include sc-breakpoint(768) {
		justify-self: flex-end;
	}

	&__list {
		display: flex;
		gap: 20px;
	}
}
