@use '../variables/colors' as colors;
@import "../variables/breakpoints";

.footer {
	padding: 0 5% 10% 5%;

	@include sc-breakpoint(768) {
		margin-top: 200px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		align-items: center;
	}

	@include sc-breakpoint(1024) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		margin-top: 300px;
	}

	&__logo {
		@include sc-breakpoint(1024) {
			grid-row: 1;
		}
	}

	&__text {
		padding-top: 20px;
		@include sc-breakpoint(768) {
			grid-row: 1;
		}

		@include sc-breakpoint(1024) {
			grid-row: 1;
		}
	}
}

.footer__social {
	@include sc-breakpoint(768) {
		justify-self: flex-end;
		grid-row: 2;
	}

	@include sc-breakpoint(1024) {
		grid-row: 1;
	}

	&__list {
		display: flex;
		gap: 20px;
	}

	.social-icon > path:hover {
		fill: colors.$base-orange;
	}
}
