@import "../variables/breakpoints";

body {
	background-image: url("/src/assets/bg-main-mobile.png");
	background-position: top -180px right -180px;

	@include sc-breakpoint(768) {
		background-image: url("/src/assets/bg-main-tablet.png");
	}
	@include sc-breakpoint(1024) {
		background-image: url("/src/assets/bg-main-desktop.png");
	}
}

ul {
	padding-left: 0;

	& > li {
		list-style-type: none;
	}
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	margin: 0;
}
