@import "../variables/breakpoints";

.header {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10% 5% 10% 0;

	@include sc-breakpoint(768) {
		width: 70%;
	}

	@include sc-breakpoint(1024) {
		padding-left: 0;
	}

	&__logo {
		width: 150px;
	}

	&__content {
		padding-top: 50px;
	}

	&__title {
		@include sc-breakpoint(1820) {
			width: 60%;
		}
	}

	&__text {
		@include sc-breakpoint(1024) {
			width: 95%;
		}

		@include sc-breakpoint(1820) {
			width: 55%;
		}
	}
}
